@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    var respuesta = TempData["respuesta"] as string;
    



}
<script>
    var a = JSON.parse("@respuesta");

    console.log(a);

</script>

<h1>Aqui van las contraseñas</h1>
@respuesta