@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    var respuesta = TempData["respuesta"];

    Console.WriteLine(respuesta);

    
}

<script>

    function ajaxJson(dotnetHelper) {
        dotnetHelper.invokeMethodAsync("DbConection")
            .then(resultado => {
                console.log(resultado);
            })
    }
    ajaxJson();

    
</script>
<h1>Aqui van las contraseñas</h1>
<div>
    <form>
        id<input type="number" name="id" /> <br />
        nombre<input type="text" name="nombre" /><br />
        <button id="refrescar">refrescar</button>
    </form>
</div>
<div id="data"></div>